<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Vicky Yan">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Vicky professional website">
    <title>Vicky Yan</title>
</head>
<body>
    <h1>Vicky Yan</h1>
    <nav>
        <a href="../index.html">Home</a>
        <a href="cv.html">CV</a>
        <a href="contact.html">Contact Me</a>
        <a href="fun.html">For Fun</a>
    </nav>
</body style="font-family: Arial">
<div class="main">
    <h2>Curriculum Vitae</h2>
    <table border="1">
        <tbody>
            <tr>
                <td>Name</td>
                <td>Description</td>
            </tr>
            <tr>
                <td>Dulaney High School</td>
                <td>Dulaney High School is a secondary school in Timonium, Baltimore County, Maryland,
                    United States. The school serves a generally upper-middle class suburban community,
                    with students from Timonium and surrounding areas in Baltimore County. </td>
            </tr>
            <tr>
                <td>Carnegie Mellon University</td>
                <td>Private University in Pittsburgh, PA.
                    With cutting-edge brain science, path-breaking performances,
                    innovative startups, driverless cars, big data, big ambitions,
                    Nobel and Turing prizes, hands-on learning, and a whole lot of robots,
                    CMU doesn't imagine the future, we create it. 
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <a href = "../static/Vicky Yan Resume.pdf" target="_blank">My resume (pdf)</a>

<div>
    
<footer>
    <p>&copy; 2025 Designed and coded by Vicky Yan</p>
</footer>
</html>