<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Vicky Yan">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Vicky professional website">
    <title>Vicky Yan</title>

    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js"></script>

</head>
<body>
    <h1 id="webname">Vicky Yan</h1>
    <nav>
        <a href="../index.html">about</a>
        <a href="cv.html">resume</a>
        <a href="contact.html">contact</a>
        <a href="fun.html">fun</a>
    </nav>
<div class="main">
    <h2>Curriculum Vitae</h2>
    <table border="1">
        <tbody>
            <tr>
                <td>Name</td>
                <td>Description</td>
            </tr>
            <tr>
                <td>Dulaney High School</td>
                <td>Dulaney High School is a secondary school in Timonium, Baltimore County, Maryland,
                    United States.
                    <br>
                    Graduated May 2024 </td>
            </tr>
            <tr>
                <td>Carnegie Mellon University</td>
                <td>Private University in Pittsburgh, PA.
                    <br>
                    Projected Graduation: May 2028
                </td>
            </tr>
            <tr>
                <td>Skills</td>
                <td>Python, Javascript, Graphic Design, fashion modeling, softball,
                    traditional & digital art, Photoshop, crocheting, tutoring, writing
                </td>
            </tr>
            <tr>
                <td>Certifications</td>
                <td>Trinity College London Piano Grades 1-8 Distinction,
                    Trinity College London Music Theory Grades 1-6 Distinction
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <a href = "../static/Vicky Yan Resume.pdf" target="_blank">My resume (pdf)</a>

<div>
    
<footer>
    <p>&copy; 2025 Designed and coded by Vicky Yan</p>
</footer>
</html>