<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Vicky Yan">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Vicky professional website">
    <title>Vicky Yan</title>
</head>
<body>
    <h1>Vicky Yan</h1>
    <nav>
        <a href="../index.html">Home</a>
        <a href="cv.html">CV</a>
        <a href="contact.html">Contact Me</a>
        <a href="fun.html">For Fun</a>
    </nav>
</body style="font-family: Arial">
<div class="main">
    <h2>Contact Me</h2>

    <div class="container">
        <form action="action_page.php">
      
          <label for="name">Your Name (required):</label>
          <input type="text" id="name" name="name" placeholder="Name">
        <br>
        <br>
          <label for="email">Your Email:</label>
          <input type="text" id="email" name="email" placeholder="Email">
        <br>
        <br>
          <label for="subject">Your Comment:</label>
          <textarea id="comment" name="comment" placeholder="Write something.." style="height:100px"></textarea>
          <input type="Submit" value="Send">
      
        </form>
      </div>
      <br>
    <table border="1">
        <tbody>
            <tr>
                <td>Type</td>
                <td>My contact</td>
            </tr>
            <tr>
                <td>Instagram</td>
                <td>@notvickyyan</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>vyy@andrew.cmu.edu</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>4049358388</td>
            </tr>
        </tbody>
    </table>

<div>
    
<footer>
    <p>&copy; 2025 Designed and coded by Vicky Yan</p>
</footer>
</html>